.Row{
  margin-left:15%;
}

img{
  width: 100%;
  margin-top:10px;
  height: 300px;
  border: 2px solid rgb(0, 0, 0);
  padding: 4px;
  border-radius:50% ;
}
#box{
  height: 450px;
  margin: 20px;
  border-radius:5px;
  box-shadow:2px 2px 8px;
  
}
#info{
  height: 150px;
}
.name{
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 9px;
}
.Email{
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: white;
  background-color: rgb(80, 78, 78);
  
}
button{
  margin-left: 45%;
  height: 60px;
  width:200px;
  background-color: black;
  color: white;
  font-size: 30px;
}